:root {
	--flexiview-accent: #129ed9;
	--flexiview-accent-light: #b8eaff;
	--flexiview-accent-lighter: #f1fbff;
	--flexiview-white: #fff;
	--flexiview-black-soften: #111111;
}

.inprogress {
	outline: 2px solid red !important;
	outline-offset: 2px;
}
.needtest {
	outline: 2px solid blue !important;
	outline-offset: -2px;
}

.flexiview-cursor-pointer {
	cursor: pointer;
}

.flexiview-access-btn {
	padding: 0.5rem;
	line-height: 0;
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	z-index: 9999;
	border-radius: 1000px;

	&:hover,
	&:focus,
	&:active,
	&:focus-visible {
		outline: 1px solid var(--flexiview-accent);
	}
}

.flexiview-modal {
	font-family: system-ui, -apple-system, Arial, 'Segoe UI', Verdana, Georgia, Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;

	& :is(h1, h2, h3, h4, h5, h6, p, span, a, li) {
		font-family: inherit;
		margin: 0;
	}
	--inline-offset: 1.5rem;
	--max-width: 80vw;
	--head-foot-height: 2rem;
	border-radius: 1rem;
	background-color: var(--flexiview-white);
	display: none;
	position: fixed;
	top: auto;
	bottom: 2rem;
	left: auto;
	right: var(--inline-offset);
	border: 1px solid #ccc;
	z-index: 9999;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	min-width: min(480px, var(--max-width));
	max-width: var(--max-width);
	height: 70dvh;
	overflow: clip;

	&.is-open {
		display: block;
	}

	& .flexiview-modal__content {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		overflow: hidden;
		height: 100%;

		& .flexiview-modal__header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			gap: 1rem;
			padding: 0.5rem;
			max-height: var(--head-foot-height);
			background-color: var(--flexiview-accent-lighter);
			& .flexiview-modal__controls {
				line-height: 0;
			}
			& .flexiview-modal__title {
				font-size: 1rem;
				font-weight: 600;
			}
			& .flexiview-modal__close {
				line-height: 0;
			}
		}

		& .flexiview-modal__main {
			height: calc(100% - calc(2 * var(--head-foot-height)));
			overflow: hidden scroll;
			padding: 0.5rem;

			& .flexiview-accessibility-accordion-container {
				border: 1px solid var(--flexiview-accent-light);
				border-radius: 1rem;
				overflow: clip;
				margin-bottom: 0.5rem;
				& .flexiview-accessibility-accordion-title {
					display: flex;
					justify-content: space-between;
					flex-direction: row;
					flex-wrap: nowrap;
					gap: 1rem;
					font-size: 1.25rem;
					background-color: var(--flexiview-accent);
					color: var(--flexiview-accent-lighter);
					padding: 1rem;
					transition: 300ms;
					font-weight: 500;

					& span.flexiview-accessibility-accordion-icon {
						transition: 700ms ease;
					}

					&.active {
						font-weight: 700;

						& span.flexiview-accessibility-accordion-icon {
							transform: rotateX(180deg);
						}
					}
				}
				& .flexiview-accessibility-accordion-content {
					gap: 1.5rem;
					text-align: center;
					padding-inline: 0.5rem;
					max-height: 0;
					transition: 300ms ease;
					background-color: var(--flexiview-white);

					&.active {
						max-height: 1000px;
						padding-block: 0.5rem;
					}

					& .flexiview-accessibility-mode {
						border: 1px solid var(--flexiview-accent-light);
						border-radius: 0.5rem;
						padding: 0.75rem 1rem;
						text-align: center;
						font-size: 1.125rem;
						transition: 300ms ease;
						position: relative;

						&.active {
							&.accessibility-option-togle {
								background-color: var(--flexiview-accent);
								color: var(--flexiview-white);
							}
						}

						&.accessibility-option-togle {
						}

						&:hover {
							border-color: var(--flexiview-accent);
							background-color: var(--flexiview-accent-lighter);
						}

						& span.notice {
							position: absolute;
							top: auto;
							bottom: -0.75rem;
							left: 50%;
							transform: translate(-50%, 0%);
							width: fit-content;
							font-size: 0.75rem;
							background: #111;
							color: #fff;
							padding: 0.125rem 0.25rem;
							border-radius: 0.5rem;
						}
					}
				}
			}
		}

		& .flexiview-modal__footer {
			max-height: var(--head-foot-height);
			padding: 0.5rem;
			background-color: var(--flexiview-accent-light);
			& .mp-copyright {
				text-align: center;
				& a.mp-copyright-link {
					transition: 300ms;
					color: var(--flexiview-accent);
					text-decoration: none;
					& .mp-copyright-img {
						transform: translate(-50%, 0%);
						background-color: var(--flexiview-white);
						padding: 10px 20px;
						border-radius: 10px;
						box-shadow: 0px 0px 24px 0px #8b0dbb;
						max-width: 150px;
						position: absolute;
						top: auto;
						bottom: 2rem;
						left: 50%;
						transition: all 200ms;
						opacity: 0;
						visibility: hidden;
						transition-timing-function: ease-in-out;
					}
					&:hover {
						color: var(--flexiview-accent-light);
						& .mp-copyright-img {
							visibility: visible;
							opacity: 1;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	a.mp-copyright-link {
		& .mp-copyright-img {
			opacity: 0 !important;
			visibility: hidden !important;
			display: none;
		}
	}
}
